/*==========================================
Table of contents:
A. RESET
B. TYPOGRAPHY
    - Utility classes
C. LAYOUT
    1. TOP CONTAINER
        a. SIDE-BAR
            - Top - Main nav
            - Center - Playlists
            - Bottom - Profile
        b. MAIN CONTAINER
            - Top overlay
            - Nav
            - Page scroll
    2. CONTROL BAR
        a. Left container - Current song
        b. Center container - Player
        c. Right container - Sound controls
D: UTILITY CLASSES
    - Custom slider

==========================================*/

/*------------ A: RESET ------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --clr-accent: #adff2f;
  font-family: "Montserrat", sans-serif;
}

/*------------ B: TYPOGRAPHY ------------*/

h1 {
  font-size: 25px;
}

h2 {
  font-size: 14px;
}

h3,
p {
  font-size: 12px;
}

h4 {
  font-size: 10px;
}

/*Utility classes*/

.gray-text {
  color: #878787;
}

.gray-text.hover:hover {
  color: white;
}

.a-underline:hover {
  text-decoration: underline;
}

.small-text {
  font-size: 14px;
}

/*------------ C: LAYOUT ------------*/

body {
  background: #141922;
}

.shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* >> >> 1. TOP-CONTAINER >> >> */

.top-container {
  flex: 1 0 0;
  overflow: hidden;
  display: flex;
}

/*SIDE-BAR*/
.side_bar {
  color: #878787;
  flex: 0 0 65px;
  height: 100%;
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

/*Top - Main nav*/

.nav_top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.nav_top a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav_top img {
  width: 30px;
}

.nav_top h3 {
  font-size: 12px;
}

.nav_top .logo_small {
  margin-bottom: 20px;
  width: 35px;
}

.main_icon_nav img,
.download_icon img {
  opacity: 0.7;
}

.main_icon_nav:hover,
.nav_center li:hover,
.nav_bottom li:hover {
  color: white;
}

.main_icon_nav.active {
  color: white;
  position: relative;
}

.main_icon_nav.active::before {
  content: "";
  height: 30px;
  width: 3px;
  background-color: var(--clr-accent);
  position: absolute;
  bottom: 0;
  left: -20px;
}

.main_icon_nav:hover img,
.main_icon_nav.active img,
.nav_bottom .download_icon:hover img {
  opacity: 1;
}
/*Center - Playlists*/

.playlist_list {
  overflow: auto;
}

.nav_center h2 {
  color: white;
}

.nav_center > * {
  padding: 10px 0;
}

.nav_center div:hover i {
  background: white;
}

.nav_center div:hover {
  color: white;
}

.playlist_list {
  width: 100%;
}

.playlist_list a {
  padding: 10px 0;
}

.playlist_list a:hover {
  color: white;
}

.create_playlist a,
.nav_bottom a {
  display: flex;
  align-items: center;
}

.create_playlist a i {
  padding: 5px;
  background: #878787;
  color: black;
}

/*Bottom - Profile*/

.nav_bottom {
  margin-top: auto;
  text-align: center;
}

.download_icon img {
  width: 20px;
}

.profile_image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #878787;
}

.profile_image {
  padding-top: 20px;
}

/*MAIN CONTAINER*/

.main_container {
  flex: 1 1 auto;
  height: 100%;
  color: white;
}

/*top overlay*/
.top_overlay {
  height: 90px;
  padding: 20px;
  text-align: right;
  background: #080a0ebd;
}

.upgrade_button {
  min-width: 217px;
}

.upgrade_button:hover {
  transform: scale(1.05, 1.05);
}

/*nav*/

.main_container nav ul {
  text-align: center;
  word-spacing: -10px;
}

.main_container nav li {
  word-spacing: normal;
  display: inline-block;
  margin-bottom: 10px;
}

.main_container nav a {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 5px;
}

/*page scroll*/

.page_scroll {
  height: 100%;
  padding: 20px 20px 110px;
  overflow: auto;
}

.page_scroll > div {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}

.section_heading {
  margin: 40px 0 20px;
  width: 100%;
}

.section_heading p {
  margin-top: 5px;
}

.card {
  width: calc(100% / 2 - 8px);
  text-align: center;
}

.card img {
  width: 100%;
}

.card_image {
  position: relative;
}

.card:hover .card_image::after {
  content: "\f144";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 35px;
  text-shadow: 0 0 10px #00000086;
}

.card.artist img {
  border-radius: 50%;
}

.card_heading {
  margin: 10px;
}

.card_heading h4 {
  margin-top: 5px;
}

/* >> >> 2. CONTROL BAR >> >> */

.control_bar_container {
  color: white;
  background: #282828;
  flex: 0 0 100px;
  max-height: 100px;
  padding: 10px 15px 25px;
  display: flex;
  align-items: center;
  gap: 30px;
}

/*Left container - Current song*/

.current_song {
  flex: 1 1 150px;
  display: flex;
  gap: 10px;
}

.current_song img {
  height: 40px;
}

.song_and_author {
  flex: 0 1 80px;
}

.song_and_author h3 {
  font-size: 12px;
}

.song_and_author h6 {
  font-size: 10px;
}

.like_folder_icons {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
}

/*Center container - Player*/

.player {
  flex: 18 0 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controls {
  align-self: center;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.controls i {
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

.controls .play i {
  font-size: 30px;
  padding: 0;
}

.controls .play:hover i {
  transform: scale(1.1, 1.1);
}

.player .slider-container {
  gap: 10px;
}

.player .slider {
  flex: 0 1 500px;
}

/*Right container - Sound controls*/

.sound_controls {
  flex: 1 1 150px;
  display: flex;
}

.sound_controls i {
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}

.sound_controls .slider-container {
  flex: 1 0 50px;
}

.sound_controls .slider {
  width: 100%;
}

/*------------- D: UTILITY CLASSES -------------*/

.list-small-underline-accent li {
  position: relative;
}

.list-small-underline-accent a.active::after {
  content: "";
  height: 3px;
  width: 30px;
  background-color: var(--clr-accent);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.btn-transparent {
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 20px;
}

/*Custom slider*/

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider-container span {
  flex: 0 0 auto;
  height: 100%;
  font-size: 10px;
}

.slider-container .slider {
  height: 4px;
  background-color: #5a5a5a;
  border-radius: 2px;
}

.slider-container .progress {
  position: relative;
  height: 100%;
  width: 50%;
  border-radius: 2px;
  background-color: #c1c1c1;
}

.slider-container:hover .progress {
  background-color: var(--clr-accent);
}

.slider-container:hover .progress:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
}

/*====================================
            MEDIA QUERIES
====================================*/

/*XS*/

@media screen and (max-width: 575px) {
  .download_icon,
  .side_bar li {
    justify-content: center;
  }

  .xs-hidden {
    display: none;
  }
}

/*S*/

@media screen and (min-width: 576px) {
  .side_bar {
    flex: 0 0 200px;
    align-items: flex-start;
    padding: 20px;
  }

  .nav_top,
  .nav_bottom {
    width: 100%;
  }

  .nav_top li:first-child {
    display: none;
  }

  .nav_top .logo {
    width: 130px;
    margin-bottom: 30px;
  }

  .download_icon {
    padding: 20px 0;
    border-bottom: 1px solid #878787;
  }

  .create_playlist a i,
  .nav_bottom a img {
    margin-right: 10px;
  }
}

/*M*/
@media screen and (min-width: 768px) {
  .card {
    width: calc(100% / 4 - 12px);
  }

  .like_folder_icons {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}

/*L*/

@media screen and (min-width: 992px) {
  .card {
    width: calc(100% / 6 - 13px);
  }

  .main_container nav li {
    padding-left: 10px;
    padding-right: 10px;
  }
}
