/*==========================================
Table of contents:
A. RESET
B. TYPOGRAPHY
    - Utility classes
C. LAYOUT
    1. TOP CONTAINER
        a. SIDE-BAR
            - Top - Main nav
            - Center - Playlists
            - Bottom - Profile
        b. MAIN CONTAINER
            - Top overlay
            - Nav
            - Page scroll
    2. CONTROL BAR
        a. Left container - Current song
        b. Center container - Player
        c. Right container - Sound controls
D: UTILITY CLASSES
    - Custom slider

======== MEDIA QUERIES ========
- XS
- S
- M
- L
==========================================*/

/* 
TODO:
1. Stilizzare le barre di scroll 
*/

/*------------ A: RESET ------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --clr-accent: #1bb954;
  font-family: "Montserrat", sans-serif;
}

/*------------ B: TYPOGRAPHY ------------*/

h1 {
  font-size: 25px;
}

h2 {
  font-size: 12px;
}

h3,
p {
  font-size: 12px;
}

h4,
h5,
h6 {
  font-size: 10px;
}

/*Utility classes*/

.gray-text {
  color: #878787;
  transition: all 0.3s;
}

.gray-text.hover:hover {
  color: white;
}

.a-underline:hover {
  text-decoration: underline;
}

.small-text {
  font-size: 14px;
}

/*------------ C: LAYOUT ------------*/

body {
  background: #141922;
}

.shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* >> >> 1. TOP-CONTAINER >> >> */

.top-container {
  flex: 1 0 0;
  overflow: hidden;
  display: flex;
}

/*SIDE-BAR*/
.side_bar {
  color: #878787;
  flex: 0 0 65px;
  height: 100%;
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

/*Top - Main nav*/

.nav_top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.nav_top a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav_top img {
  width: 30px;
}

.nav_top h3 {
  font-size: 12px;
}

.nav_top .logo_small {
  margin-bottom: 20px;
  width: 35px;
}

.main_icon_nav img,
.download_icon img {
  opacity: 0.7;
  transition: all 0.2s;
}
.main_icon_nav,
.nav_center li,
.nav_bottom li,
.nav_center div,
.playlist_list a {
  transition: all 0.2s;
}

.main_icon_nav:hover,
.nav_center li:hover,
.nav_bottom li:hover,
.nav_center div:hover,
.playlist_list a:hover {
  color: white;
}

.main_icon_nav {
  position: relative;
}

.main_icon_nav.active {
  color: white;
}

.main_icon_nav::before {
  content: "";
  height: 30px;
  width: 3px;
  position: absolute;
  bottom: 0;
  left: -20px;
}

.main_icon_nav:hover::before {
  background-color: #878787;
}

.main_icon_nav.active::before {
  background-color: var(--clr-accent);
}

.main_icon_nav:hover img,
.main_icon_nav.active img,
.nav_bottom .download_icon:hover img {
  opacity: 1;
}
/*Center - Playlists*/

.playlist_list {
  overflow: auto;
}

.nav_center h2 {
  color: white;
}

.nav_center > * {
  padding: 10px 0;
}

.nav_center div i {
  transition: all 0.2s;
}

.nav_center div:hover i {
  background: white;
}

.playlist_list {
  width: 100%;
}

.playlist_list a {
  padding: 10px 0;
}

.create_playlist a,
.nav_bottom a {
  display: flex;
  align-items: center;
}

.create_playlist a i {
  padding: 5px;
  background: #878787;
  color: black;
}

/*Bottom - Profile*/

.nav_bottom {
  margin-top: auto;
  text-align: center;
}

.download_icon img {
  width: 20px;
}

.profile_image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #878787;
}

.profile_image {
  padding-top: 20px;
}

/*MAIN CONTAINER*/

.main_container {
  flex: 1 1 auto;
  height: 100%;
  color: white;
}

/*top overlay*/

.top_overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 200px;
  z-index: 2;
  height: 90px;
  padding: 20px;
  text-align: right;
  background: #080a0ebd;
}

.upgrade_button {
  min-width: 217px;
  transition: all 0.1s;
}

.upgrade_button:hover {
  transform: scale(1.05, 1.05);
}

/*page scroll*/

.page_scroll {
  height: 100%;
  padding: 110px 20px 110px;
  overflow: auto;
}

/*nav*/

.page_scroll nav ul {
  text-align: center;
  word-spacing: -10px;
}

.page_scroll nav li {
  word-spacing: normal;
  display: inline-block;
  margin-bottom: 10px;
}

.page_scroll nav a {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 5px;
}

/*cards*/

.card_row {
  margin: 20px 0;
  display: flex;
  gap: 15px;
  overflow: auto;
}

.page_scroll section > h1 {
  margin-top: 40px;
}

.popular_artists > h1 {
  margin: 40px 0 5px;
}

.card {
  flex: 0 0 auto;
  width: calc(100% / 2 - 8px);
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  background-color: #181818;
}

.card_image {
  position: relative;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card.artist img {
  border-radius: 50%;
}

.card_heading {
  margin: 10px;
}

.card_heading h4 {
  margin-top: 5px;
}

/* >> >> 2. CONTROL BAR >> >> */

.control_bar_container {
  color: white;
  background: #282828;
  flex: 0 0 100px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 30px;
}

/*Left container - Current song*/

.current_song {
  flex: 1 1 120px;
  display: flex;
  gap: 10px;
}

.current_song img {
  height: 40px;
}

.song_and_author {
  flex: 0 1 80px;
}

.like_folder_icons {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
}

/*Center container - Player*/

.player {
  flex: 18 0 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controls {
  align-self: center;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.controls i {
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

.controls .play i {
  font-size: 30px;
  padding: 0;
  transition: all 0.1s;
}

.controls .play:hover i {
  transform: scale(1.2, 1.2);
}

.player .slider-container {
  gap: 10px;
}

.player .slider {
  flex: 0 1 500px;
}

/*Right container - Sound controls*/

.sound_controls {
  flex: 1 1 110px;
  display: flex;
}

.sound_controls i {
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}

.sound_controls .slider-container {
  flex: 1 0 50px;
}

.sound_controls .slider {
  width: 100%;
}

/*------------- D: UTILITY CLASSES -------------*/

.list-small-underline-accent li {
  position: relative;
}

.list-small-underline-accent a.active::after {
  content: "";
  height: 3px;
  width: 30px;
  background-color: var(--clr-accent);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.btn-transparent {
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 20px;
}

/*Custom slider*/

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider-container span {
  flex: 0 0 auto;
  height: 100%;
  font-size: 10px;
}

.slider-container .slider {
  height: 4px;
  background-color: #5a5a5a;
  border-radius: 2px;
}

.slider-container .progress {
  position: relative;
  height: 100%;
  width: 50%;
  border-radius: 2px;
  background-color: #c1c1c1;
  transition: all 0.2s;
}

.slider-container .progress:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  opacity: 0;
  transition: all 0.2s;
}

.slider-container:hover .progress {
  background-color: var(--clr-accent);
}

.slider-container:hover .progress:after {
  opacity: 1;
}

/*====================================
            MEDIA QUERIES
====================================*/

@media screen and (max-height: 630px) {
  .top_overlay {
    display: none;
  }

  .page_scroll {
    padding-top: 20px;
  }
}

/*XS*/

@media screen and (min-width: 500px) {
  .mobile-visible,
  .landscape {
    display: none;
  }

  .download_icon,
  .side_bar li {
    justify-content: center;
  }

  .top_overlay {
    left: 65px;
  }

  .xs-hidden {
    display: none;
  }

  .main_container {
    min-width: 0;
    max-width: calc(575px - 65px);
  }

  .card_image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .card_image::after {
    content: "\f04b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    bottom: 0px;
    right: 15px;
    color: white;
    height: 40px;
    width: 40px;
    padding-left: 3px;
    background: #1bb954;
    border-radius: 50%;
    font-size: 15px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  .card:hover {
    background-color: #282828;
  }

  .card:hover .card_image::after {
    opacity: 1;
    bottom: 15px;
    box-shadow: 0 5px 10px #1a1919be;
  }
}

/*S*/

@media screen and (min-width: 576px) {
  .xs-hidden {
    display: unset;
  }

  .main_container {
    min-width: calc(576px - 200px);
    max-width: calc(768px - 200px);
  }

  .side_bar {
    flex: 0 0 200px;
    align-items: flex-start;
    padding: 20px;
  }

  .nav_top,
  .nav_bottom {
    width: 100%;
  }

  .nav_top li:first-child {
    display: none;
  }

  .nav_top .logo {
    width: 130px;
    margin-bottom: 30px;
  }

  .download_icon {
    padding: 20px 0;
    border-bottom: 1px solid #878787;
  }

  .create_playlist a i,
  .nav_bottom a img {
    margin-right: 10px;
  }
}

/*M*/
@media screen and (min-width: 768px) and (min-height: 501px) {
  .main_container {
    min-width: revert;
    max-width: revert;
  }

  .card {
    flex: 0 0 auto;
    width: calc(100% / 4 - 12px);
  }

  .like_folder_icons {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}

/*LANDSCAPE*/

@media screen and (max-height: 500px) and (max-width: 767px) {
  .mobile-hidden {
    display: none;
  }

  .mobile-visible,
  .landscape {
    display: unset;
  }

  .landscape-hidden {
    display: none;
  }

  .shell {
    flex-direction: row;
    width: 100%;
  }

  h1 {
    font-size: 14px;
  }

  h3 {
    font-size: 10px;
  }

  .main_container {
    min-width: unset;
    max-width: unset;
  }

  .page_scroll {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .good_morning {
    display: flex;
  }

  .settings {
    margin-left: auto;
  }

  .settings i {
    padding: 0 5px;
  }

  .recently_played .card_row {
    flex-wrap: wrap;
  }

  .card {
    padding: 0;
    overflow: hidden;
    width: calc(100% / 2.7);
  }

  .card,
  .card:hover {
    background: transparent;
  }

  .card:hover .card_image::after {
    display: none;
  }

  .recently_played .card {
    display: flex;
    height: 40px;
    width: calc(100% / 3 - 10px);
    background-color: #282828;
  }

  .recently_played .card img {
    height: 100%;
    flex: 0 0 auto;
    border-radius: 0;
    width: unset;
  }

  .recently_played .card_heading {
    position: relative;
    margin: 5px 10px 5px 10px;
    max-height: 28px;
    align-self: center;
    overflow: hidden;
  }

  .recently_played .card_heading::after {
    content: "\f141";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 7px;
    color: white;
    width: 56px;
    height: 14px;
    padding-left: 10px;
    padding-top: 8px;
    text-align: left;
    position: absolute;
    top: 11px;
    right: 0;
    background: rgb(40, 40, 40);
    background: linear-gradient(
      90deg,
      rgba(40, 40, 40, 0) 0%,
      rgba(40, 40, 40, 1) 19%
    );
  }

  .recently_played .card_row .card h2 {
    text-align: left;
    font-size: 10px;
  }

  .recently_played .card_row .card h4 {
    display: none;
  }

  .control_bar_container {
    padding-left: 0;
    padding-right: 0;
    order: -1;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 150px;
    background: rgb(24, 24, 24);
  }

  .mobile_nav {
    order: -1;
    width: 100%;
    padding: 0 10px;
  }

  .mobile_nav a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
  }

  .mobile_nav h3 {
    font-weight: 500;
  }

  .mobile_nav img {
    width: 20px;
  }

  .song_player {
    width: 100%;
    margin-top: auto;
    position: relative;
  }

  .song_player img {
    width: 40px;
  }

  .current_song {
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .current_song h6 {
    font-size: 8px;
    font-weight: 300;
  }

  .current_song::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background: #8a8a8ac2;
  }

  .current_song::after {
    content: "";
    position: absolute;
    top: 0;
    height: 2px;
    width: 60%;
    background: white;
  }

  .mini_control_bar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .mini_control_bar i {
    font-size: 13px;
  }

  .mini_control_bar .mini_play {
    font-size: 30px;
  }
}

/*MOBILE*/

@media screen and (max-width: 499px) {
  .mobile-hidden,
  .landscape {
    display: none;
  }

  .mobile-visible {
    display: unset;
  }

  h1 {
    font-size: 14px;
  }

  h3 {
    font-size: 10px;
  }

  .page_scroll {
    padding-top: 40px;
  }

  .good_morning {
    display: flex;
  }

  .settings {
    margin-left: auto;
  }

  .settings i {
    padding: 0 5px;
  }

  .recently_played .card_row {
    flex-wrap: wrap;
  }

  .card {
    padding: 0;
    overflow: hidden;
  }

  .card,
  .card:hover {
    background: transparent;
  }

  .recently_played .card {
    display: flex;
    height: 40px;
    background-color: #282828;
  }

  .recently_played .card img {
    height: 100%;
    flex: 0 0 auto;
    border-radius: 0;
    width: unset;
  }

  .recently_played .card_heading {
    position: relative;
    margin: 5px 10px;
    max-height: 28px;
    align-self: center;
    overflow: hidden;
  }

  .recently_played .card_heading::after {
    content: "\f141";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 7px;
    color: white;
    width: 56px;
    height: 14px;
    padding-left: 10px;
    padding-top: 8px;
    text-align: left;
    position: absolute;
    top: 11px;
    right: 0;
    background: rgb(40, 40, 40);
    background: linear-gradient(
      90deg,
      rgba(40, 40, 40, 0) 0%,
      rgba(40, 40, 40, 1) 19%
    );
  }

  .recently_played .card_row .card h2 {
    text-align: left;
    font-size: 10px;
  }

  .recently_played .card_row .card h4 {
    display: none;
  }

  .control_bar_container {
    flex: 0 0 60px;
    padding: 8px 10px;
    position: relative;
  }

  .song_player {
    position: absolute;
    top: -70px;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 90%;
    height: 100%;
    background: #4e4e4e;
    padding: 5px 15px 5px 5px;
    border-radius: 4px;
  }

  .song_player::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 4px;
    right: 4px;
    height: 3px;
    background: #8a8a8ac2;
  }

  .song_player::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 4px;
    height: 3px;
    width: 40%;
    background: white;
  }

  .mobile_folder_icons {
    margin-left: auto;
  }

  .mobile_folder_icons i {
    padding: 0 5px;
  }

  .song_player img {
    width: 39px;
    border-radius: 3px;
  }

  .song_player h6 {
    font-weight: 600;
    color: #b3b3b3;
  }

  .mobile_nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .mobile_nav a {
    width: 60px;
    text-align: center;
  }

  .mobile_nav h3 {
    font-size: 8px;
    font-weight: 300;
  }

  .mobile_nav img {
    height: 30px;
  }
}

/*L*/

@media screen and (min-width: 992px) {
  .card {
    width: calc(100% / 6 - 13px);
  }

  .main_container nav li {
    padding-left: 10px;
    padding-right: 10px;
  }
}
